<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='uploads/css/admin.css') }}">
</head>

<form method="POST" enctype="multipart/form-data">
    <label>Nama Mobil</label>
    <input type="text" name="nama_mobil" required>

    <label>Merk</label>
    <input type="text" name="merk" required>

    <label>Harga Sewa</label>
    <input type="number" name="harga_sewa" required>

    <label>Status</label>
    <select name="status">
        <option value="Tersedia">Tersedia</option>
        <option value="Tidak Tersedia">Tidak Tersedia</option>
    </select>

    <label>Transmisi</label>
    <select name="transmisi">
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
    </select>

    <label>Bahan Bakar</label>
    <select name="bahan_bakar">
        <option value="Bensin">Bensin</option>
        <option value="Solar">Solar</option>
        <option value="Hybrid">Hybrid</option>
    </select>

    <label>Kapasitas (Kursi)</label>
    <input type="number" name="kapasitas" required>

    <label>Tahun</label>
    <input type="number" name="tahun" required>

    <label>Foto</label>
    <input type="file" name="foto">

    <button type="submit">Simpan</button>
</form>
